.checkbox:focus ~ svg {
  @apply fill-current;
  @apply text-fuchsia-600;
}

.checkbox ~ .checked {
  display: none;
}

.checkbox:checked ~ .unchecked {
  display: none;
}

.checkbox:checked ~ .checked {
  display: block;
}

.checkbox ~ .unchecked {
  display: block;
}
