.radio {
  &:focus {
    ~ svg {
      @apply fill-current;
      @apply text-fuchsia-600;
    }
  }
  &:disabled {
    opacity: 0.5;
  }
}

.radio ~ .checked {
  display: none;
}

.radio:checked ~ .unchecked {
  display: none;
}

.radio:checked ~ .checked {
  display: block;
}

.radio ~ .unchecked {
  display: block;
}
